<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>
        Fabric Comparison
    </title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

    <script
        src="{{ url_for('static',
        filename='js/theme.js') }}">
    </script>

</head>

<script
    src="{{ url_for('static', filename='js/language.js') }}">
</script>

<body>

<nav class="navbar custom-navbar">

    <div class="container-fluid">

        <div class="brand-title">
            Fabric Comparison
        </div>

    </div>

</nav>

<div class="container mt-5">

    <div class="dashboard-card">

        <h2 class="section-title">
            Compare Two Denim Samples
        </h2>

        <form
            action="/compare"
            method="POST"
            enctype="multipart/form-data">

            <div class="mb-4">

                <label class="form-label">
                    Upload Reference Fabric
                </label>

                <input
                    id="reference_input"
                    type="file"
                    name="reference"
                    class="form-control"
                    required>

                    <button
                type="button"
                class="btn btn-success mt-2"
                onclick="startCamera('reference')">

                📷 Capture Reference
                </button>
            </div>

            <div class="mb-4">

                <label class="form-label">
                    Upload Test Fabric
                </label>

                <input
                    id="test_input"
                    type="file"
                    name="test"
                    class="form-control"
                    required>

                    <button
type="button"
class="btn btn-success mt-2"
onclick="startCamera('test')">

📷 Capture Test
</button>

            </div>

            <button class="btn btn-custom w-100">
                Run AI Fabric Analysis
            </button>

        </form>

    </div>

    <div class="text-center mt-4">

<video
id="video"
width="500"
autoplay
style="display:none;border-radius:15px;">
</video>

<br><br>

<button
id="captureBtn"
class="btn btn-primary"
style="display:none;">

Capture Image

</button>

</div>

<canvas
id="canvas"
style="display:none;">
</canvas>

</div>

<script src="{{ url_for('static', filename='js/camera_compare.js') }}"></script>

</body>

</html>